USE [ShoppingItems]
GO
/****** Object:  Table [dbo].[ShoppingItemsProfile]    Script Date: 09/28/21 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingItemsProfile](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ImgUri] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_ShoppingItemsProfile] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShoppingItemsProfile] ON 

INSERT [dbo].[ShoppingItemsProfile] ([ID], [Name], [ImgUri], [Price], [Description]) VALUES (1, N'Macbook Air 13" M1 Vesmírne sivý', N'1.jpg', CAST(999.00 AS Decimal(10, 2)), N'Najtenší a najlahší notebook od spolocnosti Apple je teraz extrémne výkonný vdaka 5nm cipu Apple M1. Ten ponúka bleskovo rýchle 8-jadrové CPU, ktoré si poradia s každým projektom. A nechýba ani až 8-jadrový grafický cip, ktorého sila rozhýbe aj nárocné aplikácie a hry. A nesmieme zabudnút na 16-jadrový Neural Engine zrýchlujúci úlohy strojového ucenia. Toto je nový MacBook Air.')
INSERT [dbo].[ShoppingItemsProfile] ([ID], [Name], [ImgUri], [Price], [Description]) VALUES (2, N'Macbook Pro 16" US Vesmírne sivý', N'2.jpg', CAST(7059.00 AS Decimal(10, 2)), N'Apple MacBook Pro 16" s rýchlym procesorom, úžasným 16-palcovým displejom, ohromným úložiskom a novou generáciou grafiky Radeon Pro je prémiový profesionálny notebook pre najnáročnejších používateľov.')
SET IDENTITY_INSERT [dbo].[ShoppingItemsProfile] OFF
/****** Object:  StoredProcedure [dbo].[sp_GetShoppingItemsDetailsById]    Script Date: 09/28/21 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[sp_GetShoppingItemsDetailsById]  
@ID int  
AS  
Begin  
select * from ShoppingItemsProfile(NOLOCK) where ID = @Id  
End  
  

GO
/****** Object:  StoredProcedure [dbo].[sp_GetShoppingItemsList]    Script Date: 09/28/21 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc[dbo].[sp_GetShoppingItemsList]  
AS  
Begin  
select ID, Name, ImgUri, Price, Description from ShoppingItemsProfile(NOLOCK)  
End  

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateShoppingItemsDetails]    Script Date: 09/28/21 0:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- === === === === === === === === === === === === === === ===  
--Author: Nimit Joshi  
    --Create date: 31 / 01 / 2016  
    --Description: This sp is used to insert and update data in Cricketer Profile  
    -- === === === === === === === === === === === === === === ===  
    CREATE PROCEDURE [dbo].[sp_UpdateShoppingItemsDetails]  
    --Add the parameters  for the stored procedure here  
@Id INT = NULL,  
@Name VARCHAR(50) = NULL,  
@ImgUri VARCHAR(50) = NULL,  
@Price Decimal = NULL,  
@Description VARCHAR(MAX) = NULL,   
@Status INT OUT  
AS  
BEGIN  
--SET NOCOUNT ON added to prevent extra result sets from  
--interfering with SELECT statements.  
  
IF EXISTS(SELECT ccp.ID FROM [dbo].[ShoppingItemsProfile] ccp(NOLOCK) WHERE ccp.ID = @Id)  
BEGIN  
UPDATE [dbo].[ShoppingItemsProfile]  
SET Name = ISNULL(@Name, Name),  
    ImgUri = ISNULL(@ImgUri, ImgUri),  
    Price = ISNULL(@Price, Price),  
    Description = ISNULL(@Description, Description)  
WHERE ID = @Id;  
IF(@@ROWCOUNT > 0)  
BEGIN  
SET @Status = 3;  
--Record Updated Successfully!!  
    END;  
END;  
ELSE  
BEGIN  
SET @Status = 4;  
--Record does not exists!!  
    END;  
END

GO
